# **Intro**

In [ ]:
print('Hello World')

Hello World

In [ ]:
print("Hello World")

Hello World

# **Variables and Data Types**

In [ ]:
num1 = 10
num2 = 20

In [ ]:
res1 = num1 + num2

In [ ]:
res2 = num1 - num2

In [ ]:
res3 = num1 * num2

In [ ]:
res4 = num1 / num2

In [ ]:
print('Addition')
print(res1)

print('Subtraction')
print(res2)

print('Multiplication')
print(res3)

print('Division')
print(res4)

Addition
30
Subtraction
-10
Multiplication
200
Division
0.5

In [ ]:
a = 90
A = 90

In [ ]:
emp_sal = 90

In [ ]:
emp1_age = 45  # integer - int
emp1_sal = 56.78 # decimal - float
emp1_dep = "it" # text - string
emp1_status = True # yes/no - boolean

In [ ]:
# num1 = 90 - comment

In [ ]:
emp2_age = 40  # integer - int
emp2_sal = 89 # decimal - float
emp2_dep = "sales" # text - string
emp2_status = False # yes/no - boolean

In [ ]:
print(emp1_age)
print(emp1_sal)
print(emp1_dep)
print(emp1_status)

45
56.78
it
True

In [ ]:
print(f"Employee Age {emp1_age}")

Employee Age 45

In [ ]:
print("Employee Age")
print(emp1_age)

Employee Age
45

In [ ]:
print(f"Employee Age {emp1_age} and Salary {emp1_sal} and Department {emp1_dep}")

Employee Age 45 and Salary 56.78 and Department it

# **Functions**

In [ ]:
num1 = 10
num2 = 90

res = num1 + num2
print(f'Addition of {num1} and {num2} is {res}')

Addition of 10 and 90 is 100

In [ ]:
num1 = 78
num2 = 23

res = num1 + num2
print(f'Addition of {num1} and {num2} is {res}')

Addition of 78 and 23 is 101

In [ ]:
num1 = 53
num2 = 19

res = num1 + num2
print(f'Addition of {num1} and {num2} is {res}')

Addition of 53 and 19 is 72

In [ ]:
# created a function with 2 parameters
# function body is performing addition of 2 numbers
def add_numbers(n1, n2):
  # after the tab function body starts
  res = n1 + n2
  print(f'Addition of {n1} and {n2} is {res}')

In [ ]:
# I need to call function

add_numbers(10, 20) # n1 = 10, n2 = 20 , res = 30
add_numbers(45, 90) # n1 = 45, n2 = 90 , res = 135
add_numbers(67, 23)

Addition of 10 and 20 is 30
Addition of 45 and 90 is 135
Addition of 67 and 23 is 90

In [ ]:
def sub_numbers(n1, n2):
  res = n1 - n2 # processing
  return res # result of processing is returned

In [ ]:
res1 = sub_numbers(45, 78)
print(f'Subtraction of 45 and 78 is {res1}')

Subtraction of 45 and 78 is -33

In [ ]:
def write_to_register(addr):
  # plc function to write it
  return True

In [ ]:
def calculate_gst(amt):
  gst = amt * 0.18
  # print(f'1. GST amount is {gst}')
  return gst

In [ ]:
pro_gst = calculate_gst(15000)
print(f'2. GST amount is {pro_gst}')

2. GST amount is 2700.0

In [ ]:
Amt = 10000
GST_rate = 0.80
GSTAMT = Amt * GST_rate
print(f"GST amount is: {GSTAMT}")

GST amount is: 8000.0

In [ ]:
Amt = 10000
GST_rate = 0.80
GSTAMT = Amt * GST_rate
print(f"GST amount is: {GSTAMT}")

GST amount is: 1800.0

In [ ]:
Amt = 100000
GST_rate = 0.18
GSTAMT = Amt * GST_rate
print(f"GST amount is: {GSTAMT}")

GST amount is: 18000.0

In [ ]:
def calculate_gst(amt, gst_rate):
  gst = amt * gst_rate
  return gst
  # print(f'Gst is {gst}')

In [ ]:
def prepare_invoice(amt, gst):
  total_amt = amt + gst
  print(f'Total Amount is {total_amt}')

In [ ]:
amt = 80000
gst = calculate_gst(amt, 0.18)
prepare_invoice(amt, gst)

Total Amount is 94400.0

# **Conditional Statements**

In [ ]:
# conditional statements

# lets creating grading example to understand conditional statements if else

marks = 78

if marks >= 23:
  print("Pass")
else :
  print("Fail")

Pass

In [ ]:
def check_pass_fail(marks):
  if marks >= 23:
    print("Pass")
  else :
    print("Fail")

In [ ]:
check_pass_fail(56)
check_pass_fail(5)

Pass
Fail

In [ ]:
def check_grade(marks):
  if marks >= 90:
    print("Grade A")
  elif marks >= 70:
    print("Grade B")
  elif marks >= 50:
    print("Grade C")
  else:
    print("Fail")

In [ ]:
check_grade(78)

Grade B

# **Loops**

In [ ]:
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
cnt = 0

while cnt < 5: #
  print('Hello World')
  cnt = cnt + 1 #

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
for i in range(5):
  print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

# **Data Structures**

In [ ]:
# list - []
audit_scores = [85, 85, 90, 78, 92, 92, 100]
print(audit_scores)
print(audit_scores[0])
print(audit_scores[1])
audit_scores[1] = 1111
print(audit_scores)

print(set(audit_scores))

[85, 85, 90, 78, 92, 92, 100]
85
85
[85, 1111, 90, 78, 92, 92, 100]
{100, 78, 85, 1111, 90, 92}

In [ ]:
# tuple - ()
year_month = (2024, "June")
print(year_month)
print(year_month[0])
print(year_month[1])
year_month[1] = "July"
print(year_month)

(2024, 'June')
2024
June

TypeError: 'tuple' object does not support item assignment

In [ ]:
# dictionary - {key: value}
employee = {"id": 101, "name": "Sam", "active": True}
print(employee)
print(employee["id"])
print(employee["name"])
print(employee["active"])
employee["active"] = False
print(employee)

{'id': 101, 'name': 'Sam', 'active': True}
101
Sam
True
{'id': 101, 'name': 'Sam', 'active': False}

In [ ]:
# set - {  }
unique_items = {1, 2, 3, 2, 10, 1}
print(unique_items)
print(unique_items[0])

{3, 1, 10, 2}

TypeError: 'set' object is not subscriptable

In [ ]:
audit_scores = [85, 85, 90, 78, 92, 92, 100]
unique_scores = []

for score in audit_scores:
  if score not in unique_scores:
    unique_scores.append(score)

print(unique_scores)

[85, 90, 78, 92, 100]

# **Modules**

In [ ]:
import os

cur_dir = os.getcwd()
print(cur_dir)

/content

In [ ]:
from datetime import datetime

now = datetime.now()
print("Current date and time:", now)

Current date and time: 2025-06-26 11:26:16.378937

In [ ]:
now = datetime.now()
formatted = now.strftime("%d-%m-%Y")
print("Formatted date and time:", formatted)

Formatted date and time: 26-06-2025

# **File Handling**

In [ ]:
import csv

file = open('./sample_data/california_housing_test.csv')
csv_reader = csv.reader(file)
for row in csv_reader:
    print(row)

In [ ]:
file2 = open('./audit_scores.txt', 'w')

audit_scores = [85, 85, 90, 78, 92, 92, 100]

for score in audit_scores:
  file2.write(str(score))
  file2.write(',') # home work

file2.close()

In [ ]:
file3 = open('./audit_scores.txt', 'r')
file_content = file3.read()
print(file_content)

85,85,90,78,92,92,100,